SELECT
    DISTINCT {{ id_key }}
FROM
    `{{ dataset }}.AdsInsights`
{% if not initial -%}
WHERE
    {{ id_key }} NOT IN (
        SELECT
            DISTINCT {{ id_key }}
        FROM
            `{{ dataset }}.AdsCreatives`
    )
{%- endif %}
LIMIT
    200
